<% payments.each do |payment| %>
    <div class="invoice-payment">
      <div class="contextual">
      <%= link_to image_tag('delete.png'), invoice_payment_path(@invoice, payment),
                  data: { confirm: delete_confirmation(payment) }, method: :delete, title: l(:button_delete) if payment.can_be_destroyed? %>
      </div>
      <h4><%= avatar(payment.author, size: "24") %><%= authoring payment.created_at, payment.author %></h4>
      <p><%= format_date(payment.payment_date) %> - <strong><%= payment.amount_to_s %></strong></p>
      <p><%= link_to payment.operation, operation_path(payment.operation) if InvoicesSettings.finance_plugin_installed? && payment.operation %></p>
      <%= textilizable(payment.description) %>
      <% if payment.attachments.any? -%>
        <%= link_to_attachments payment %>
      <% end %>
    </div>
<% end %>
