<ul>
  <% if @invoice.present? %>
    <li><%= context_menu_link l(:button_edit), {controller: 'invoices', action: 'edit', id: @invoice}, class: 'icon icon-edit', disabled: !@can[:edit] %></li>
    <li><%= context_menu_link l(:label_invoice_pdf), {controller: 'invoices', action: 'show', format: 'pdf', id: @invoice}, class: 'icon icon-pdf-context', disabled: !@can[:pdf] %></li>
    <li><%= context_menu_link l(:label_invoice_add_payment), new_invoice_payment_path(invoice_id: @invoice), class: 'icon icon-add-payment', disabled: !User.current.allowed_to?(:edit_invoice_payments, @invoice.project) %></li>
  <% else %>
    <li>
      <% invoices_query_params = {
           'invoices_list_style' => 'list',
           :object_type => 'invoice',
           :set_filter => 1,
           'f' => ['status_id', 'ids'],
           'op[status_id]' => 'o',
           'v[ids][]' => @invoice_ids.join(','),
           'op[ids]' => '='
         }
      %>
      <% if @project %>
        <%= context_menu_link l(:button_filter), project_invoices_path(@project, invoices_query_params), class: 'icon icon-list' %>
      <% else %>
        <%= context_menu_link l(:button_filter), invoices_path(invoices_query_params), class: 'icon icon-list' %>
      <% end %>
    </li>
  <% end %>

  <% unless @project.nil? %>
    <li class="folder">
      <a href="#" class="submenu"><%= l(:field_status) %></a>
      <ul>
        <% collection_invoice_statuses_for_select.each do |u| %>
          <li>
            <%= context_menu_link u[0],
                  {
                    controller: 'invoices',
                    action: 'bulk_update',
                    ids: @invoices.collect(&:id),
                    invoice: {'status_id' => u[1]},
                    back_url: @back
                  },
                  method: :post,
                  selected: (@invoice && u[1] == @invoice.status_id),
                  disabled: !@can[:change_status] %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <li><%= context_menu_link l(:button_delete), {controller: 'invoices', action: 'bulk_destroy', ids: @invoices.collect(&:id), project_id: @project, back_url: @back},
          method: :delete, confirm: l(:text_are_you_sure), class: 'icon icon-del', disabled: !@can[:delete] %>
  </li>
</ul>
